
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

:root{
    --body-font-family: "Nunito", sans-serif;
    --background-color: #252525;
    --background-color-trans: #88775555;
    --color-dark: #dd6600;
    --color: #ffaa00;
    --color-light: #887755;
    --font-size-x-large: 20pt;
    --font-size-large: 16pt;
    --font-size-normal: 12pt;
    --font-size-small: 10pt;
    --font-size-x-small: 8pt;
}

body{
    background-color: var(--background-color);
    color: var(--color);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--body-font-family);;
    font-size: 1rem;
    min-height: 100vh;

}

a, a:active, a:visited{
    color: var(--color);
    text-decoration: none;
    padding: 0 5px 0 5px;
}
a:hover{
    border-bottom: 1px solid var(--color-dark);
}

header{
}

header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav > ul {
    list-style: none;
    display: flex;
    margin:0; padding:0;
}

header > nav > ul > li {
    margin : 0 1rem 0 0;
    padding:0;
}

header > h1 {
    color: var(--color-dark);
    margin: 10px 0 0 0 ;
}
header > h1 > img {
  vertical-align: baseline;
}

header > p {
    font-size:var(--font-size-x-small);
    text-align:center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#triggerNotificationButton {
    border:0; background-color: transparent;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;

}
#alert {
    font: 14px Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 12px lightgray;

    &p { margin: 12px; }
    & .buttons {
        float: right
    }

}



#timer {
    font-size: 12vw;
    display: table-row;
    align-self: center;
}

#timerMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--color-dark);
    background-color: var(--background-color-trans);
    padding:20px;
    border-radius: 20px;
}

#timerMessage .small {
    font-size: 10pt;
    margin:0 0 20px 0;
}

#timerMessage img,
#timerMessage iframe {
    height: 40vh;
    align-self: center;
}

footer{
    margin-top: auto;
    color: var(--color-light);
    font-size: var(--font-size-x-small);
    height: 60px;
}


blockquote{
    color:var(--color);
}
cite{
    display:block;
    margin:20px 0 0 0;
}